global:
    verbose: True
    test: True

sr:
    api_url: 'uggcf://jroncv.flapebbz.nccfreivpr.lnznun.pbz/pbzz/choyvp/ebbz_yvfg?cntrfvmr=500&ernyz=4'
    http_user_agent: 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36'
    api_duration_sec: 120
    api_duration_jitter: 0.2
    targets:
        - '0bda357b-408e-419b-ab19-1b36dc45ba25'
        - 'f32eb18f-2079-4931-a90a-5a778837cf88'
    targets_exclude:
        - '73105ff4-59a1-4383-9741-3cdbe339f603'
        - '58efd138-c5e4-4bff-9021-0abcb165a5dc'
    target_keywords:
        - 'TARGETKEYWORD_ONE'
        - 'TARGETKEYWORD_TWO'
        - 'Street Life'
    target_keywords_exclude:
        - 'NEGATIVEKEYWORD_ONE'
        - 'NEGATIGEKEYWORD_TWO'

pushover:
    # these are dummy key, replace yours.
    user_key: "pTux2ByyINrgfApe7MEQBMSQVm2c2f"
    api_token: "2jc2oJ2fJXC2287RxgRoRP2oinRPLz"
    message_priority: 0

redis:
    host: 127.0.0.1
    port: 6379
    db: 3
